.k-window{
    width:45%;
}

.action-buttons{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li{
        float: left;
        padding: 8px;
    }
}
.error-msg{
    margin-top:7px;
    color:red;
}